.Stackedbar .axis .tick line{
	stroke:rgba(128,128,128,.5);
	stroke-dasharray: 2px 2px;
}
.Stackedbar .axis-y .tick text{
	fill:grey;
	font: 10px Archivo Narrow;
}

.Stackedbar .axis-x .tick text{
	fill:grey;
	font: 10px Archivo Narrow;
	direction: -90;
}
.Stackedbar .axis .domain{
	display:none;
}
